
html {
    box-sizing: border-box;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    height:100%;
    margin:0;
    color:#aaa;
    font-size:.7em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}
#container {
    width:100%;
}
.screen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align:center;  
    background-color: #000;
    opacity:0.7;
}
.no-scroll{
    overflow: hidden;
}
.overlay-container{
  display: none;  
}
.overlay-container, .screen div {
    position: absolute;   
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.screen div {
    font-size:1.2rem;
}
.overlay-content{
    position:relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #000;
    border-radius: 5px;
    padding: 20px;
}
.title-bg-container,.title{
    position: absolute;
    left: 0px;
    top: 20px;
    padding: 0 20px;
    z-index: 1;
    height: 36px;
    width: 100%;
}
.title-bg{
    z-index: 1;
    height: 36px;
}
.title {
    padding-top: 6px;
    font-size: 1.2rem;
}
.title-bg{
    background-color: #000;
    opacity:0.6;  
}
.next,.previous{
    display: inline-block;
    font-weight: bold;
    font-size:3rem;
}
.next:hover, .previous:hover{
    cursor:pointer;
    color:#eee;
}
.next{
    margin-left: 10px;
}
.previous{
    margin-right: 10px;
}

