
html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: 100%;
    margin: 0;
    color: #aaa;
    font-size: .7em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}
button {
    position: relative;  
    display:block; 
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
    background-color: #C94E50;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    width:160px;
    margin: 0 auto;
}
button:hover {
    box-shadow: 3px 3px 0.5em #333;
}
button:focus {
    outline: none;
}
#container {
    width: 100%;
    height: 100%;
}
.screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;  
    background-color: #000;
    opacity: 0.7;
}
.no-scroll {
    overflow: hidden;
}
.overlay-container {
    display: none;  
}
.loading{
    display: none;
    font-size: 3rem; 
    z-index: 3;
}
.overlay-container, .loading {
    position: absolute;   
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.screen div {
    font-size: 1.2rem;
    color: #eee;
}
.overlay-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #000;
    border-radius: 3px;
    height: auto;
    overflow: hidden;
    max-width: 680px;
    box-shadow: 5px 5px 1em black;
}
.overlay-content img {
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 424px;
    border-radius: 3px;
}
.title-bg, .title {
    position: absolute;
    left: 0px;
    width: 100%;  
}
.title-bg {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 0px;
    height: 0px;
    background-color: #000;
    opacity: 0;  
    transition: height 0.5s, opacity 0.3s;  
}
.title {
   top: -50px;
   height: 50px;
   transition: top 0.6s;  
}
.overlay-content:hover .title-bg {
    opacity: 0.7;
    height: 50px;
}
.overlay-content:hover .title {
    top: 0;   
}
.title {
    padding-top: 15px;
    padding-left: 20px;
    overflow: hidden;
    text-align:left;
    z-index: 1;
    font-size: 1.2rem;
    color:#fff;
}
.small .title {
    font-size: 0.8rem;
}
.small .external-link, .small .comment, .small .close{
    font-size:1rem;
    margin-left: 0; 
}
.small .close {
    margin-right:10px;
}
.title-text {
    float: left;
}
.title-icons {
    float:right;
}
.next,.previous {
    color:#ccc;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size:3rem;
    transition: transform 0.5s ease-in-out;
}
.small .next, .small .previous{
    font-size:2rem;
}
.small .previous:hover{
   transform: translate(-5px , 0); 
}
.previous:hover {
    transform: translate(-10px , 0);
    cursor:pointer;
    color:#777; 
}
.small .next:hover{
   transform: translate(5px , 0);  
}
.next:hover {
    transform: translate(10px , 0);
    cursor:pointer;
    color:#777;   
}
.next {
    margin-left: 10px;
}
.previous {
    margin-right: 10px;
}

.comment {
    margin-left: 5px;  
}
.close {
    margin-left: 10px;
    margin-right: 20px;
}
